body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.clear_fix {
  clear: both;
}

.container {
  margin: auto;
  width: 65%;
}

.navbar span,
.navbar img,
.hero__image,
.hero__content,
.say_rating,
.profile_rating_cards,
.img_profile,
.profile_title,
.rating_overall .recommend,
.rating_overall .quality_rating,
.winner img,
.winner .title_winner,
.setup_cards {
  float: left;
}

.links,
.status_profile,
.rating_cards {
  float: right;
}

.navbar {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 5;
  top: 0;
  background-color: #f5f3ff;
  border-bottom: 1px solid #ddd6ff;
}

.navbar p {
  width: 100%;
  font-size: 25px;
  font-weight: 600;
}

.navbar .links {
  width: 45%;
}

.navbar .icon {
  width: 22%;
}

.navbar .links ul {
  margin-top: -48px;
  list-style-type: none;
}

.navbar .links a {
  margin-top: 0;
  text-decoration: none;
  margin-right: 25px;
  color: black;
}

.navbar .links a:hover {
  color: #8453bc;
}

.navbar .icon img {
  background-color: #8e51ff;
  padding: 3%;
  border-radius: 5px;
  width: 7%;
  margin-right: 10px;
  margin-top: -4px;
}

.hero {
  padding-block: 130px;
  position: relative;
  margin-top: 120px;
}

.hero .hero__image img {
  width: 100%;
  border-radius: 35px;
  border: solid rgb(216, 209, 209) 1px;
  padding: 20px;
  height: 510px;
}

.hero .hero__image {
  width: 43%;
}

.hero .hero__content {
  margin-left: 100px;
  width: 48%;
}

.hero .hero__image p {
  position: absolute;
  left: 40px;
  top: 155px;
  background-color: #8e51ff;
  color: white;
  padding: 7px;
  border-radius: 15px;
}

.hero .hero__image p,
.hero__content .hero_content_p p {
  font-size: 14px;
  font-weight: bolder;
}

.hero .hero__content .hero_content_p {
  display: flex;
}

.hero .hero__content .hero_content_p p {
  margin: 10px;
  background-color: #a888fb;
  color: white;
  padding: 8px;
  border-radius: 40px;
  margin-left: 0;
}

.hero .hero__content h1 {
  font-size: 50px;
  color: #3a3a3a;
  margin: 0;
}

.hero .hero__content .content_span {
  color: #9674eb;
}

.hero .hero__content .content_paragraph {
  line-height: 1.5;
  font-size: 20px;
  color: #424443;
}

.hero .hero_buttons {
  width: 100%;
  margin-bottom: 10px;
  display: block;
}

.hero .hero_buttons .button_cart,
.button_wish {
  display: block;
  margin: 10px;
  width: 100%;
  padding: 17px;
  border-radius: 30px;
  border: #b6b7b8 solid 1px;
  font-size: large;
  font-weight: 700;
}

.hero .hero_buttons img {
  margin-right: 10px;
  width: 20px;
}

.hero .hero_buttons .button_cart {
  color: white;
  background-color: #8d51ff;
}

.hero .hero_buttons .button_wish {
  background-color: #ffffff;
}

.hero .hero__content .hero_span span {
  margin-right: 14px;
}

.hero .hero__content .hero_span .price_span {
  font-size: 35px;
  font-weight: bold;
  color: #3a3a3a;
}

.hero .hero__content .hero_span .del_price {
  font-size: 23px;
  color: #343434;
}

.hero .hero__content .hero_span .save_price {
  background-color: #ffe5e9;
  color: #dd1d30;
  padding: 6px;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 800;
}

.hero .hero__content .parag_above_button {
  margin-bottom: 30px;
  color: #313131;
}

.how_we_compare {
  background-color: #f7f5ff;
  padding-block: 80px;
}

.how_we_compare .compare_title {
  margin-bottom: 40px;
  text-align: center;
}

.how_we_compare .compare_title h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.how_we_compare .compare_title span {
  color: #916bfa;
}

.how_we_compare .table_compare table {
  margin: auto;
  width: 85%;
  padding: 60px;
  background-color: #ffffff;
  border-radius: 20px;
  border: #d3d5d9 solid 1px;
}

.how_we_compare .table_compare table td {
  border-bottom: 1px rgb(233, 226, 226) solid;
  padding: 10px;
}

.bold_size_table,
.font_bold {
  font-weight: 600;
}

.center_text_table {
  text-align: center;
}

.font_color_orange {
  color: #e35005;
}

.table_coloum_design {
  position: absolute;
  background-color: #ede9fe;
  border-radius: 20px;
  font-weight: 600;
  height: 200px;
  width: 300px;
  z-index: 0;
}

tr td:nth-child(2) {
  border-radius: 20p;
  background-color: #ede9fe;
  font-weight: 600;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.1);
}

.table_our_product {
  background-color: #8d50ff;
  color: white;
  padding: 5px;
}

.border_radius_top {
  border-radius: 20px 20px 0 0;
}

.border_radius_bottom {
  border-radius: 0 0 20px 20px;
}

.font_color_violent {
  color: #8d51ff;
  font-weight: 800;
  font-size: 18px;
}

.how_we_compare .table_compare thead p:nth-child(2) {
  font-size: 14px;
}

.winner {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px 25px;
  width: 280px;
  margin: 50px auto;
  border: 1px solid #e5e5e5;
}

.winner img {
  width: 25px;
  height: 25px;
  float: left;
  margin-right: 10px;
  margin-top: 4px;
}

.winner .title_winner {
  float: left;
}

.winner .title_winner h3 {
  color: #00a651;
  font-size: 18px;
  margin: 0;
}

.winner .title_winner p {
  color: #00a651;
  font-size: 14px;
  margin: 3px 0 0;
}

.what_our_customers_say {
  width: 60%;
  margin: 100px auto;
  position: relative;
  padding: 20px;
  overflow: visible;
}

.what_our_customers_say .say_title h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

.what_our_customers_say .say_title p {
  font-size: 14px;
  margin-bottom: 50px;
}

.what_our_customers_say .say_title span {
  color: #916bfa;
}

.say_rating {
  box-sizing: border-box;
  width: 38%;
  text-align: center;
  padding: 30px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  position: sticky;
  top: 60px;
  margin-bottom: 50px;
}

.say_rating .say_rating_precent {
  padding: 10px;
}

.rating_overall {
  padding-top: 15px;
}

.rating_overall .recommend {
  padding-inline: 10px 75px;
}

.inline_gray,
.inline_yellow {
  display: inline-block;
  height: 10px;
  border-radius: 20px;
}

.inline_gray {
  width: 180px;
  background-color: gray;
}

.inline_yellow {
  background-color: #f2b002;
  width: 160px;
  position: absolute;
  left: 117px;
}

.say_rating_precent .rating_precent {
  margin-bottom: 10px;
}

.say_rating .rating_title {
  font-size: 56px;
  font-weight: 600;
  margin: 0;
}

.border_bottom {
  border-top: 1px solid #e5e5e5;
}

.recommend_precent {
  margin: 0;
  font-size: 26px;
  font-weight: 700;
}

.rating_cards {
  position: relative;
  margin-top: px;
  padding: 28px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  width: 750px;
  height: 200px;
  margin: 10px 30px;
}

.rating_cards .profile_rating_cards .img_profile img {
  width: 100%;
  border-radius: 50%;
  margin: 14px 0 0 -5px;
  border: #5e2986 solid 1px;
}

.rating_cards .profile_rating_cards .img_profile {
  width: 7%;
}

.rating_cards .profile_rating_cards .status_profile {
  width: 30%;
}

.rating_cards .profile_title {
  margin-left: 5px;
  font-size: 14px;
}

.rating_cards .profile_title p,
.rating_cards .profile_title h3 {
  margin: 5px;
}

.rating_cards .rating_profile_title p {
  line-height: 1.7;
}

.rating_cards .status_profile .verified_profile {
  font-size: 11px;
  font-weight: 700;
  margin-bottom: -10px;
  color: #5e2986;
  background-color: #ede9ff;
  padding: 1px 6px;
  border-radius: 20px;
  width: 46%;
}

.rating_cards .status_profile .verified_time {
  margin-left: 20px;
  font-size: 13px;
}

.rating_cards .status_profile {
  margin-right: -80px;
}

.cards {
  margin-top: -130px;
  display: flex;
  flex-direction: column;
}

.cards .load_button {
  margin: 20px 370px;
  width: 15%;
  border-radius: 20px;
  padding: 13px;
  color: white;
  background-color: #8d51ff;
  border: none;
  margin-bottom: 70px;
  cursor: pointer;
}

.complete_your_setup {
  padding-block: 50px;
  background-color: #f7f5ff;
}

.complete_your_setup .complete_title h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

.complete_your_setup .complete_title p {
  font-size: 17px;
  margin-bottom: 50px;
}

.complete_your_setup .complete_title span {
  color: #916bfa;
}

.box_setup_cards {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 30px;
  overflow: hidden;
}

.box_setup_cards .setup_cards {
  width: 19%;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 20px;
  position: relative;
  border: #e2e6e9 solid 1px;
  margin-right: 30px;
  overflow: hidden;
}

.box_setup_cards .setup_cards .setup_cards_img img {
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.5s all;
}

.box_setup_cards .setup_cards .setup_cards_img img:hover {
  transform: scale(1.04);
}

.box_setup_cards .setup_badge {
  position: absolute;
  left: 30px;
  color: white;
  background-color: #06baae;
  font-size: 13px;
  padding: 5px;
  border-radius: 15px;
  z-index: 10;
}

.setup_cards_title {
  font-size: 15px;
}

.setup_cards_title h3 {
  margin-block: 10px;
}

.setup_cards_title p {
  margin-block: 10px 15px;
}

.setup_cards .setup_card_button,
.setup_cards .setup_cards_price {
  display: inline-block;
}

.setup_cards .setup_card_button {
  margin-left: 90px;
}

.setup_cards .setup_card_button button {
  color: white;
  border-radius: 15px;
  border: none;
  background-color: #8a53ff;
  padding: 7px;
  font-size: 12px;
  cursor: pointer;
}

.setup_cards .setup_cards_price span {
  font-size: 20px;
  font-weight: 700;
}

.complete_your_setup .setup_button {
  text-align: center;
}

.complete_your_setup .setup_button button {
  padding: 15px;
  color: #6a13cd;
  display: inline-block;
  margin: 0 auto;
  border: #6a13cd solid 1px;
  border-radius: 20px;
  background-color: transparent;
  width: 15%;
  cursor: pointer;
  transition: 0.2s all;
}

.complete_your_setup .setup_button button:hover {
  color: white;
  background-color: #6a13cd;
}
